.border{
    border:0px solid black;
}

#mainDiv {
    min-width:1024px;
    display: inline-block;
}

#leftPanelDiv{
    display: inline-block;
}

#middlePanelDiv{
    display: inline-block;
}

#rightPanelDiv{
    display: inline-block;
}